.el-dialog{
  background-color: #0e0024 !important;
  i svg {
    color: #fff;
  }
  .el-icon{
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
  }
  .el-dialog__headerbtn{
    font-size: 1.5em;
  }
}